// Colors

$green: #3fb972 !default;
$red: #e33940 !default;
$grayLight: #f7f7f7 !default;
$gray: #e1e1e1 !default;
$black: #2a2a2e !default;
$inverse: #000;

$backgroundColor: $grayLight;
$linkColor: $red;
$title: $green;

$success:   #2ecc71;
$danger:    #e74c3c;
$warning:   #f1c40f;
$info:      #3498db;

$base:      $black;
$firm:      #1abc9c;

// Font
$base-font-family: "quicksandbold";
$base-font-size:   14px;




$placeholder-color: $grayLight;
