<div class="container">
  <div class="box">
    <h1 class="header">ChipIn</h1>
    <div class="tag">Split checks, not friends.</div>
    <ul class="input-list">
      <li class="title">
        <span ng-click="login()">Login</span>
      </li>
      <li><input type="text" placeholder="Email" ng-model="email"></li>
      <li><input type="password" placeholder="Password" ng-model="password"></li>
      </li>
      <li><button class="btn-large" ng-click="login()">Continue</button></li>
    </ul>
  </div>
</div>
