<div class="container">
	<div class="box">
		<h1 class="header">ChipIn</h1>
		<div class="tag">Split checks, not friends.</div>
		<ul class="input-list">
			<li class="title">
				<span ng-click="register()">Register</span>
				<span class="pull-right"><a href="#">Login</a></span>
			</li>
			<li><input type="text" placeholder="Email" ng-model="email"></li>
			<li><input type="password" placeholder="Password" ng-model="password"></li>
			<li class="pin"><input type="text" placeholder="Enter 5 digit pin">
			</li>
			<li><button class="btn-large">Register</button></li>
		</ul>
	</div>
</div>


